symlinks/vim/.vim/*
symlinks/sublime/User/Package Control.last-run
symlinks/sublime/User/Package Control.ca-list
symlinks/sublime/User/Package Control.ca-bundle
symlinks/sublime/User/Package Control.merged-ca-bundle
symlinks/sublime/User/Package Control.system-ca-bundle
symlinks/sublime/User/Package Control.cache
symlinks/sublime/User/Package Control.ca-certs
