[user]
	name = Hayato Mizuno
	email = pocotan001@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[push]
	default = simple
[core]
	editor = code --wait
	quotepath = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
