[submodule "symlinks/zsh/prezto"]
	path = symlinks/zsh/.zprezto
	url = git@github.com:sorin-ionescu/prezto.git
[submodule "symlinks/tmux/.tmux-plugins/tpm"]
	path = symlinks/tmux/.tmux-plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
