'.workspace':
  'cmd-t': 'application:new-file'
  'cmd-n': 'application:new-window'
  'cmd-:': 'command-palette:toggle'
  'cmd-alt-:': 'project-manager:toggle'
  'cmd-alt-*': 'git-projects:toggle'
  'cmd-o': 'fuzzy-finder:toggle-file-finder'
  'cmd-shift-O': 'symbols-view:toggle-file-symbols'
  'ctrl s': 'tree-view:toggle'
  'ctrl-s': 'tree-view:toggle-focus'

'.workspace .editor:not([mini])':
  'alt-up': 'emmet:increment-number-by-1'
  'alt-down': 'emmet:decrement-number-by-1'
  'alt-cmd-up': 'resize-panes:enlarge-active-pane'
  'alt-cmd-down': 'resize-panes:shrink-active-pane'
  'ctrl-q': 'expand-selection-to-quotes:toggle'

'.workspace .editor[data-grammar~="html"]:not([mini])':
  'tab': 'emmet:expand-abbreviation-with-tab'
